/* Table Styling */
.calculator{
    border: 5px;
    background-color: rgba(24, 21, 21, 0.932);
    border-style: double;
}
/* Table Content Styling */
#screen{
    background-color: white;
    border: 4px black;
    border-style: solid;
    height: 25px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    text-align: right;
}
.button{
    background-color: darkgray;
    border: 4px;
    border-style: hidden;
    border-radius: 10px;
    height: 15px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    text-align: center;
}
.button:hover{
    box-shadow: 2px 2px 2px 2px white;
}
/*
probably needs to be styled in js
.button:visited{
    box-shadow: .5px .5px .5px .5px white;
}*/
#btn0{
    text-align: right;
}
#clear{
    background-color: cornflowerblue;
    color: white;
}