/* Table Styling */
.calculator{
    border: 5px;
    background-color: rgba(24, 21, 21, 0.932);
    border-style: double;
}
/* Table Content Styling */
.screen{
    display: grid;
    background-color: white;
    border: 4px black;
    border-style: solid;
    height: 40px;
    padding: 10px;
    margin: 10px;
    font-size: large;
    text-align: right;
}
#lowerRightScreen{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column: span;
}
#lowerLeftScreen{
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: left;
}
#upperScreen{
    text-align: right;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column: span;
}
.button{
    background-color: darkgray;
    border: 4px;
    border-style: hidden;
    border-radius: 10px;
    height: 15px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    text-align: center;
}
.button:hover{
    box-shadow: 2px 2px 2px 2px white;
}


.btnClicked{
    background-color: darkgray;
    border: 4px;
    border-style: hidden;
    border-radius: 10px;
    height: 15px;
    padding: 10px;
    margin: 10px;
    font-size: medium;
    text-align: center;
    box-shadow: .5px .5px .5px .5px white;
}
#btn0{
    text-align: right;
}
#clear{
    background-color: cornflowerblue;
    color: white;
}